<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-title-heading" data-cy="TitleCreateUpdateHeading">
        {{ editForm.controls.id.value ? 'Cập nhật tiêu đề' : 'Thêm mới tiêu đề' }}
      </h2>

      <div>
        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name">Tên</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': editForm.get('name')?.invalid && editForm.get('name')?.touched }"
            required
          />
          <div
            class="error-message"
            *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.touched || editForm.get('name')?.dirty)"
          >
            <span *ngIf="editForm.get('name')?.errors?.['required']">Tên không được để trống </span>
            <span *ngIf="editForm.get('name')?.errors?.['duplicate']">Tên này đã tồn tại</span>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_source">Nguồn</label>
          <!-- <input type="text" class="form-control" name="source" id="field_source" data-cy="source"
            formControlName="source" /> -->
          <select
            class="form-control form-select"
            name="source"
            id="field_source"
            [(ngModel)]="selectedSource"
            [ngModelOptions]="{ standalone: true }"
            (change)="onSourceChange()"
          >
            <option [value]="">-- Chọn nguồn --</option>
            <option *ngFor="let source of source" [value]="source.name">
              {{ source.name }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataType">Kiểu dữ liệu</label>
          <input
            type="text"
            class="form-control"
            name="dataType"
            id="field_dataType"
            data-cy="dataType"
            formControlName="dataType"
            readonly
          />
          <!-- <select class="form-control form-select" name="dataType" id="field_dataType" formControlName="dataType">
            <option *ngFor="let type of dataTypes" [value]="type">
              {{ type }}
            </option>
          </select> -->
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_field">Field</label>
          <!-- <input type="text" class="form-control" name="field" id="field_field" data-cy="field"
            formControlName="field" /> -->
          <select
            class="form-control form-select"
            name="field"
            id="field_field"
            [(ngModel)]="selectedField"
            [ngModelOptions]="{ standalone: true }"
            (change)="onFieldChange()"
          >
            <option [value]="">-- Chọn field --</option>
            <option *ngFor="let field of field" [value]="field.name">
              {{ field.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
