<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (criteriaGroup) {
    <div>
      <h2 data-cy="criteriaGroupDetailsHeading"><span>Nhóm tiêu chí</span></h2>

      <hr />

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ criteriaGroup.id }}</span>
        </dd>
        <dt><span>Tên</span></dt>
        <dd>
          <span>{{ criteriaGroup.name }}</span>
        </dd>
        <dt><span>Trạng thái</span></dt>
        <dd>
          <span>{{ criteriaGroup.status }}</span>
        </dd>
        <dt><span>Thời gian tạo</span></dt>
        <dd>
          <span>{{ criteriaGroup.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Thời gian cập nhật</span></dt>
        <dd>
          <span>{{ criteriaGroup.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Người cập nhật</span></dt>
        <dd>
          <span>{{ criteriaGroup.updateBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/criteria-group', criteriaGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
    }
  </div>
</div>