<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fields-heading" data-cy="FieldsCreateUpdateHeading">
        {{ editForm.controls.id.value ? 'Cập nhật Fields' : 'Thêm mới Fields' }}
      </h2>

      <div>
        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name">Tên</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': editForm.get('name')?.invalid && editForm.get('name')?.touched }"
            required
          />
          <div class="error-message" *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched">
            <span *ngIf="editForm.get('name')?.errors?.['required']">Tên không được để trống</span>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fieldName">Tên Field</label>
          <!-- <input type="text" class="form-control" name="fieldName" id="field_fieldName" data-cy="fieldName"
            formControlName="fieldName" /> -->
          <select
            class="form-control form-select"
            name="fieldName"
            id="field_fieldName"
            data-cy="fieldName"
            formControlName="fieldName"
            [ngClass]="{ 'is-invalid': editForm.get('selectedField')?.invalid && editForm.get('selectedField')?.touched }"
            required
          >
            <option *ngFor="let item of field" [value]="item">{{ item }}</option>
          </select>
          <div class="error-message" *ngIf="editForm.get('selectedField')?.invalid && editForm.get('selectedField')?.touched">
            <span *ngIf="editForm.get('selectedField')?.errors?.['required']">Tên không được để trống</span>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_source">Nguồn </label>
          <!-- <input type="text" class="form-control" name="source" id="field_source" data-cy="source"
            formControlName="source" /> -->
          <select
            class="form-control form-select"
            name="source"
            id="field_source"
            [(ngModel)]="name"
            [ngModelOptions]="{ standalone: true }"
            (change)="updateSourceId()"
          >
            <option *ngFor="let item of sources" [value]="item.name">{{ item.name }}</option>
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
