<div>
  <h2 id="page-heading" data-cy="CheckerGroupHeading">
    <span>Nhóm đối tượng đánh giá</span>

    <div class="d-flex justify-content-end">
      <!-- <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span home.refreshListLabel">Refresh list</span>
      </button> -->

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-checker-group"
        [routerLink]="['/checker-group/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Thêm mới</span>
      </button>
    </div>
  </h2>

  <!-- @if (checkerGroups && checkerGroups.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped table-bordered" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Tên</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Trạng thái</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span>Thời gian tạo</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span>Thời gian cập nhật</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateBy">
              <div class="d-flex">
                <span>Người cập nhật</span>
              </div>
            </th>
            <th scope="col"><span>Tuỳ chọn</span></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th></th>
            <th>
              <input
                type="text"
                placeholder="Tìm kiếm"
                [(ngModel)]="searchTerms.name"
                (input)="searchTable()"
                class="form-control d-inline-block w-auto mr-2"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="Tìm kiếm"
                [(ngModel)]="searchTerms.status"
                (input)="searchTable()"
                class="form-control d-inline-block w-auto mr-2"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="Tìm kiếm"
                [(ngModel)]="searchTerms.createdAt"
                (input)="searchTable()"
                class="form-control d-inline-block w-auto mr-2"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="Tìm kiếm"
                [(ngModel)]="searchTerms.updatedAt"
                (input)="searchTable()"
                class="form-control d-inline-block w-auto mr-2"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="Tìm kiếm"
                [(ngModel)]="searchTerms.updateBy"
                (input)="searchTable()"
                class="form-control d-inline-block w-auto mr-2"
              />
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (checkerGroup of checkerGroups; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/checker-group', checkerGroup.id, 'view']">{{ checkerGroup.id }}</a>
              </td>
              <td>{{ checkerGroup.name }}</td>
              <td>{{ checkerGroup.status }}</td>
              <td>{{ checkerGroup.createdAt | formatMediumDatetime }}</td>
              <td>{{ checkerGroup.updatedAt | formatMediumDatetime }}</td>
              <td>{{ checkerGroup.updateBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/checker-group', checkerGroup.id, 'view']"
                    class="btn btn-info btn-sm compact-btn"
                    style="border-radius: 8px"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                  </a>

                  <a
                    [routerLink]="['/checker-group', checkerGroup.id, 'edit']"
                    class="btn btn-primary btn-sm compact-btn"
                    style="border-radius: 8px"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(checkerGroup)"
                    class="btn btn-danger btn-sm compact-btn"
                    style="border-radius: 8px"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="totalItems"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="onPageChange($event)"
        class="mb-0"
      >
      </ngb-pagination>

      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="30">30</option>
        <option [ngValue]="40">40</option>
      </select>
    </div>
  } -->

  <p-table
    [value]="checkerGroupResult"
    [paginator]="true"
    [rows]="selectedPageSize"
    [rowsPerPageOptions]="pageSizeOptions"
    (onPage)="onPageSizeChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [responsive]="true"
    [rowHover]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border">STT</th>
        <th class="text-center border">Tên</th>
        <th class="text-center border">Trạng thái</th>
        <th class="text-center border">Thời gian tạo</th>
        <th class="text-center border">Thời gian cập nhật</th>
        <th class="text-center border">Người cập nhật</th>
        <th class="text-center border">Tuỳ chọn</th>
      </tr>
      <tr>
        <th class="text-center border"></th>
        <th class="text-center border">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px" (input)="onSearch('name', $event)" />
          </p-iconField>
        </th>
        <th class="text-center border">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px" (input)="onSearch('status', $event)" />
          </p-iconField>
        </th>
        <th class="text-center border">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="date" placeholder="Search" style="padding-left: 30px" (input)="onSearch('createdAt', $event)" />
          </p-iconField>
        </th>
        <th class="text-center border">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="date" placeholder="Search" style="padding-left: 30px" (input)="onSearch('updatedAt', $event)" />
          </p-iconField>
        </th>
        <th class="text-center border">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px" (input)="onSearch('updateBy', $event)" />
          </p-iconField>
        </th>
        <th class="text-center border"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-checkerGroup let-index="rowIndex">
      <tr>
        <td class="text-center border">{{ index + 1 }}</td>
        <td class="text-center border">{{ checkerGroup.name }}</td>
        <td class="text-center border"><p-tag [value]="checkerGroup.status" [severity]="getSeverity(checkerGroup.status)" /></td>
        <td class="text-center border">{{ checkerGroup.createdAt | formatMediumDatetime }}</td>
        <td class="text-center border">{{ checkerGroup.updatedAt | formatMediumDatetime }}</td>
        <td class="text-center border">{{ checkerGroup.updateBy }}</td>
        <td class="text-center border">
          <div class="btn-group">
            <a
              [routerLink]="['/checker-group', checkerGroup.id, 'view']"
              class="btn btn-info btn-sm compact-btn"
              style="border-radius: 8px"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
            </a>

            <a
              [routerLink]="['/checker-group', checkerGroup.id, 'edit']"
              class="btn btn-primary btn-sm compact-btn"
              style="border-radius: 8px"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
            </a>

            <button
              type="submit"
              (click)="delete(checkerGroup)"
              class="btn btn-danger btn-sm compact-btn"
              style="border-radius: 8px"
              data-cy="entityDeleteButton"
            >
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
