<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-convert-heading" data-cy="ConvertCreateUpdateHeading">
        {{ editForm.controls.id.value ? 'Cập nhật Quy đổi' : 'Thêm mới Quy đổi' }}
      </h2>

      <div>
        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name">Tên</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': editForm.get('name')?.invalid && editForm.get('name')?.touched }"
            required
          />
          <div
            class="error-message"
            *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.touched || editForm.get('name')?.dirty)"
          >
            <span *ngIf="editForm.get('name')?.errors?.['required']">Tên không được để trống </span>
            <span *ngIf="editForm.get('name')?.errors?.['duplicate']">Tên này đã tồn tại</span>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type">Kiểu</label>
          <select
            class="form-control form-select"
            name="type"
            id="field_type"
            data-cy="type"
            formControlName="type"
            [ngClass]="{ 'is-invalid': editForm.get('type')?.invalid && editForm.get('type')?.touched }"
            required
          >
            <option value="Tính điểm">Tính điểm</option>
            <option value="Bước nhảy">Bước nhảy</option>
          </select>
          <div class="error-message" *ngIf="editForm.get('type')?.invalid && editForm.get('type')?.touched">
            <span *ngIf="editForm.get('type')?.errors?.['required']">Kiểu không được để trống</span>
          </div>
        </div>

        <div class="mb-3" *ngIf="editForm.get('type')?.value !== 'Bước nhảy'">
          <label class="form-label" for="field_mark">Thang điểm</label>
          <input type="text" class="form-control" name="mark" id="field_mark" data-cy="mark" formControlName="mark" />
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
