<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (checkTarget) {
      <div>
        <h2 data-cy="checkTargetDetailsHeading"><span>Đối tượng đánh giá</span></h2>

        <hr />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ checkTarget.id }}</span>
          </dd>
          <dt><span>Tên</span></dt>
          <dd>
            <span>{{ checkTarget.name }}</span>
          </dd>
          <dt><span>Đối tượng kiểm tra</span></dt>
          <dd>
            <span>{{ checkTarget.inspectionTarget }}</span>
          </dd>
          <dt><span>Cấp độ đánh giá</span></dt>
          <dd>
            <span>{{ checkTarget.evaluationLevel }}</span>
          </dd>
          <dt><span>Trạng thái</span></dt>
          <dd>
            <span>{{ checkTarget.status }}</span>
          </dd>
          <dt><span>Thời gian tạo</span></dt>
          <dd>
            <span>{{ checkTarget.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Thời gian cập nhật</span></dt>
          <dd>
            <span>{{ checkTarget.updatedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Người cập nhật</span></dt>
          <dd>
            <span>{{ checkTarget.updateBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/check-target', checkTarget.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
