<div>
  <h2 class="page-heading" id="page-haeding">Danh sách kế hoạch gộp</h2>

  <p-table [value]="plantGroupResult" [paginator]="true" [rows]="selectedPageSize"
    [rowsPerPageOptions]="pageSizeOptions" (onPage)="onPageSizeChange($event)" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
    [rowHover]="true" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th>Tùy chọn</th>
        <th style="min-width: 150px">Tên kế hoạch gộp</th>
        <th>Người kiểm tra</th>
        <th>Loại</th>
        <th>Ngày kiểm tra</th>
        <th style="min-width: 150px">Trạng thái</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px"
              (input)="onSearch('name', $event)" />
          </p-iconField>
        </th>
        <th>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px"
              (input)="onSearch('checker', $event)" />
          </p-iconField>
        </th>
        <th>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px"
              (input)="onSearch('type', $event)" />
          </p-iconField>
        </th>
        <th>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="date" placeholder="Search" style="padding-left: 30px"
              (input)="onSearch('checkDate', $event)" />
          </p-iconField>
        </th>
        <th>
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Search" style="padding-left: 30px"
              (input)="onSearch('status', $event)" />
          </p-iconField>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-group let-index="rowIndex">
      <tr>
        <td>
          <div class="action-buttons">
            <p-button icon="pi pi-file-edit" aria-label="Đánh giá"
              *ngIf="(group.status != 'Đã hoàn thành' && group.checker === account.login) || hasAnyAuthority(['ROLE_ISO_ADMIN'])"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn" [severity]="'warning'"
              (onClick)="openModalCriteria(group)" />
            <p-button icon="pi pi-check" (onClick)="completeEvalReport(group)"
              *ngIf="(group.status != 'Đã hoàn thành' && group.checker === account.login) || hasAnyAuthority(['ROLE_ISO_ADMIN'])"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn" severity="success" />
            <p-button icon="pi pi-trash" aria-label="Delete"
              *ngIf="(group.status != 'Đã hoàn thành' && group.checker === account.login) || hasAnyAuthority(['ROLE_ISO_ADMIN'])"
              styleClass="p-button-rounded p-button-info p-button-sm mr-2" [severity]="'danger'"
              (onClick)="deletePlanGr(group, index)" title="Xoá" />
          </div>
        </td>
        <td class="text-ellipsis" [ngbTooltip]="group.name" container="body" placement="top-start">{{ group.name }}</td>
        <td>{{ group.createdBy }}</td>
        <td>{{ group.type }}</td>
        <td>{{ group.checkDate | date: 'dd/MM/yyyy' }}</td>
        <td>
          <p-tag [value]="group.status" [severity]="getSeverity(group.status)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="d-flex justify-content-end">
    <p-button label="Huỷ" icon="pi pi-ban" aria-label="Cancel"
      styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn" [severity]="'danger'" />
  </div>
</div>

<ng-template #criteria let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-criteria-title">Nội dung kiểm tra</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
  </div>
  <p-table [value]="criterialData" [paginator]="true" [rows]="10" [responsive]="true"
    styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border">STT</th>
        <th class="text-center border">Nhóm tiêu chí</th>
        <th class="text-center border">Tên tiêu chí</th>
        <th class="text-center border">Tần suất</th>
        <th class="text-center border">Trạng thái</th>
        <th class="text-center border">Tùy chọn</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        <td class="text-center border">{{ rowIndex + 1 }}</td>
        <td class="text-center border"
          *ngIf="rowIndex == 0 || this.criterialData[rowIndex].criterialGroupName !== this.criterialData[rowIndex - 1].criterialGroupName"
          [attr.rowspan]="getRowSpan(row.criterialGroupName)">
          {{ row.criterialGroupName }}
        </td>
        <td class="text-center border">{{ row.criterialName }}</td>
        <td class="text-center border">{{ row.frequency }}</td>
        <td class="text-center border">{{ row.status }}</td>
        <td class="text-center border">
          <p-button label="Chọn" icon="pi pi-pen-to-square" (onClick)="showDialogEvaluation(row)"
            styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn" [severity]="'success'" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<p-dialog header="Kết luận tiêu chí" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
  [(visible)]="dialogVisible" [style]="{ width: '100%' }" [contentStyle]="{ height: '100%' }">
  <div class="col-md-12 my-4">
    <div class="col-md-6">
      <label for="">Nhóm tiêu chí</label>
      <input type="text" class="form-control" [(ngModel)]="selectedCritical.criterialGroupName" readonly />
    </div>
    <div class="col-md-6">
      <label for="">Tên tiêu chí</label>
      <input type="text" class="form-control" [(ngModel)]="selectedCritical.criterialName" readonly />
    </div>
    <div class="col-md-6">
      <label for="">Tần suất đánh giá</label>
      <input type="text" class="form-control" [(ngModel)]="selectedCritical.frequency" readonly />
    </div>
  </div>
  <p-table [value]="planGrEvals" [paginator]="true" [rows]="10" [responsive]="true" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center border" style="padding: 0;">Tên BBKT</th>
        <th class="text-center border" style="min-width: 100px; padding: 0;">Người đánh giá</th>
        <th class="text-center border" style="min-width: 100px; padding: 0;">Loại đánh giá</th>
        <th class="text-center border" style="min-width: 100px; padding: 0;">Đánh giá</th>
        <th class="text-center border" style="min-width: 100px; padding: 0;">Nội dung đánh giá</th>
        <th class="text-center border" style="padding: 0;">Hình ảnh đánh giá</th>
        <th class="text-center border" style="padding: 0;">Không đánh giá</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report let-index="rowIndex">
      <tr>
        <td class="text-center border text-ellipsis" style="padding: 0;" [ngbTooltip]="report.reportName"
                container="body" placement="top-start">{{ report.reportName }}</td>
        <td class="text-center border" style="padding: 0;">{{ report.createdBy }}</td>
        <td class="text-center border" style="padding: 0;">{{ report.convertScore }}</td>
        <td class="text-center border" style="padding: 0;">
          <select [(ngModel)]="report.result" name="report.result" [disabled]="report.hasEvaluation == 0">
            <option>Chọn kết quả</option>
            <option *ngFor="let item1 of listEvalReports[index]" [value]="item1.name">{{ item1.name }}</option>
          </select>
        </td>
        <td class="text-center border" style="padding: 0;">
          <input type="text" [(ngModel)]="report.note" [disabled]="report.hasEvaluation == 0"
            (click)="openNoteDialog(report, index)" />
        </td>
        <td class="text-center border" style="padding: 0;">
          <p-button (click)="showDialogUpLoad(report, index)" label="Attach files"
            [disabled]="report.hasEvaluation == 0" />
          <p-dialog header="Upload Files" [modal]="true" [(visible)]="dialogVisibility[index]"
            [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
            <ng-container *ngIf="selectedData">
              <p-fileUpload name="files" [url]="''" [multiple]="true" accept="image/*" maxFileSize="100000000"
                mode="advanced" [auto]="false" [customUpload]="true" preview="true"
                (onSelect)="onFileSelect($event, selectedData, index)" (onClear)="onClear(selectedData)"
                (onRemove)="removeImg($event, selectedData)" [showUploadButton]="false">
                <ng-template pTemplate="empty">
                  <div>Drag and drop files to here to upload.</div>
                </ng-template>
                <ng-template pTemplate="content">
                  <div *ngFor="let fileName of selectedData.image">
                    <div *ngIf="!imageLoadErrors.has(fileName)"
                      style="display: grid; grid-template-columns: repeat(12, 1fr); gap: 1rem; align-items: center">
                      <div style="grid-column: span 4">
                        <img [src]="'content/images/bbkt/' + fileName" (error)="onImageError(fileName)"
                          alt="Image thumbnail" style="width: 100%" class="thumbnail-image" />
                      </div>
                      <div style="grid-column: span 4">
                        <div class="file-name">{{ fileName }}</div>
                      </div>
                      <div style="grid-column: span 4">
                        <button type="button" (click)="deleteFile(fileName, selectedData)"
                          class="p-button p-button-icon-only p-button-text p-button-danger p-button-sm">
                          <span class="pi pi-times"></span>
                        </button>
                      </div>
                      <br />
                    </div>
                  </div>
                </ng-template>
              </p-fileUpload>
            </ng-container>
            <ng-template pTemplate="footer">
              <div class="flex justify-content-end">
                <p-button label="Xong" icon="pi pi-check" styleClass="p-button-text"
                  (click)="dialogVisibility[index] = false"></p-button>
              </div>
            </ng-template>
          </p-dialog>
        </td>
        <td class="text-center border" style="padding: 0;">
          <p-checkbox [binary]="true" [(ngModel)]="report.hasEvaluation" [trueValue]="0" [falseValue]="1"></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="action-buttons">
      <p-button label="Huỷ" icon="pi pi-ban" (onClick)="dialogVisible = false"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn" severity="danger" />
      <p-button label="Lưu" icon="pi pi-save" (onClick)="saveEvalReport()"
        styleClass="p-button-rounded p-button-info p-button-sm mr-2 gross-btn" severity="info" />
    </div>
  </ng-template>
</p-dialog>
<p-dialog header="Nhập nội dung đánh giá" [(visible)]="noteDialogVisible" [modal]="true" [style]="{ width: '90vw' }">
  <ng-container *ngIf="selectedReport">
    <textarea [(ngModel)]="selectedReport.note" rows="6" class="form-control" placeholder="Nhập nội dung..."
      autofocus (keydown.enter)="handleEnter($event)"></textarea>
  </ng-container>

  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-danger" (click)="selectedReport.note = ''">Xóa</button>
    <button type="button" class="btn btn-success" (click)="noteDialogVisible = false">Xong</button>
  </ng-template>
</p-dialog>
<p-confirmDialog />